body {
    background-color: burlywood;
    text-align: center;
}


button {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bolder;
}